:root {
  --main-color: #19c8fa;
  --sec-color: rgb(15 116 143 /70%);
  --gloubl-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


@import '_hangman.scss';









@media (min-width: 268px) {
  .container {
    width: 394px;
  }
}

@media (min-width: 540px) {
  .container {
    width: 530px;
  }
}

// small screen
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

// medium screen
@media (min-width: 992px) {
  .container {
    width: 945px;
  }
}

// larg screen
@media (min-width: 1200px) {
  .container {
    width: 1165px;
  }
}